.pc { display:block !important; }
.mo { display:none !important; }


/* Text Align */
.tl { text-align:left !important; }
.tc { text-align:center !important; }
.tr { text-align:right !important; }


/* Margin */
.mt20 { margin-top:20px !important; }


/* Divine */
.clear:after { content:''; display:block; clear:both; visibility:visible; }
.clear>.left { float:left; }
.clear>.right { float:right; }


/* Button */
.btn { position:relative; }
.btn.left { text-align:left; }
.btn.center { text-align:center; }
.btn.right { text-align:right; }


/* Select */
.boxSelect { position:relative; }
.boxSelect>a { width:56px; height:40px; display:block; padding-right:32px; line-height:40px; font-size:16px; color:#000; font-weight:700; }
.boxSelect>a:after { content:''; width:14px; height:8px; position:absolute; right:0; top:50%; margin-top:-4px; background:url('../images/common/iconSelect.png') center center no-repeat; transition:all .3s; }
.boxSelect>a.on:after { transform:rotate(180deg); }
.boxSelect>ul { width:100%; position:absolute; left:0; top:40px; overflow:hidden; }
.boxSelect>ul li { line-height:30px; font-size:16px; color:#000; font-weight:700; cursor:pointer; }

.boxSelect.is--lang { float:left; margin-right:50px; }


@media screen and (max-width: 767px) {
  .pc { display:none !important; }
  .mo { display:block !important; }

  .boxSelect>a { width:35px; height:24px; padding-right:24px; font-size:14px; 
    line-height:24px; }
  .boxSelect>a:after { width:8px; height:5px; margin-top:-2px; background-size:100% auto; }
  .boxSelect>ul { top:32px; }

  .boxSelect.is--lang { margin-right:30px; }
}